
# Celery stuff
celerybeat-schedule
celerybeat.pid
staticfiles

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

###
.gitignore
poetry.lock
pyproject.toml
media/image/
media/image_card/
site_document/
/складской остаток в выгрузку.xlsx
/Тест каталог.xlsx
/site_tools/utils/catalog/catalog_upload_v2.py
site_tools/my_test.py
/shop/permission.py
/site_tools/utils/catalog/dump_catalog/
