{% extends 'shop/base.html' %}
{% load static %}


{%block context%}
<link rel="stylesheet" href="{% static 'shop/css/list_items.css' %}">
{% include 'shop/includes/btn_upload_catalog.html' %}

    <div class="d-flex justify-content-center d-flex flex-wrap">
        {% for product in products %}
                <div class="card m-2 " style="width: 18rem;">
                  <img src="/media/image_default/default.png" class="card-img-top" alt="...">
                    <a href="{% url 'shop:temp_product_detail' slug_temp_category slug_temp_group  product.slug %}" class="d-flex align-items-center a_link_card" style="">
                        <div class="card-body" style="">
                          <p class="card-text  text-center" >{{ product.site_name }}</p>
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>
{%endblock%}