{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Поиск товаров {% endblock %}
{%block context%}
<link rel="stylesheet" href="{% static 'shop/css/list_items.css' %}">




{% if products %}
<div class="d-flex justify-content-center d-flex flex-wrap">
    {% for product in products %}
    <div class="card m-2 " style="width: 18rem;">
        <img src="{{product.image.url}}" class="card_image"  style="border-bottom: 1px solid rgba(0,0,0,.125);">
        <a href="{% url 'shop:product' product.group.category.slug product.group.slug product.slug %}" class="d-flex align-items-center a_link_card" style="">
            <div class="card-body" >
                <p class="card-text  text-center" >{{ product.site_name }}</p>
            </div>
        </a>
            <span class="card-text  text-center p-1" style="border-top: 1px solid rgba(0,0,0,.125);">
                {% if product.promo_group %}
                <s class="m-1" style="color:grey;"> {{ product.old_price }} ₽ </s>
                {% endif %}
                {{product.price}} ₽
            </span>
    </div>
    {% endfor %}
</div>
{% else%}
    <div class="p-5 text-center" >
        <h2>
            Вашему запросу ничего не найдено.
        </h2>
    </div>

{% endif %}



{%endblock%}